@model Department
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Delete @Model.Name Department !!</h1>
<br />

<div asp-validation-summary="All">
</div>

<form asp-action="Delete">
    
    <partial name="PartialView/DeleteDetailsPartialView" model="@Model" />

    <input type="submit" class="btn btn-danger" value="Delete" /> |
    <a asp-action="Index" class="btn btn-info">Cancel</a>

</form>