
@model Department
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Edit @Model.Name Department </h1>
<br />

<div asp-validation-summary="All">

</div>

<form asp-action="Edit"> 
  
    <partial name="PartialView/CreateEditPartialView" model="@Model" />


    <input type="submit" class="btn btn-info" value="Save" />
    <a asp-action="Index" class="btn btn-danger"> Back to list</a>

</form>



