@model Employee
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Delete">

    <partial name="PartialView/DeleteDetailsPartialView" , model="@Model" />
    
    <input type="submit" class="btn btn-danger"  value="Delete"/>
    <a asp-action="Index" class="btn btn-secondary"> Cancel</a>
</form>




