@model Employee
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
    <input readonly class="form-control" asp-for="Name" />
        
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Age"></label>
        <input readonly class="form-control" asp-for="Age" />
       
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
    <input readonly class="form-control" asp-for="Salary" />
       
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="CreationDate"></label>
    <input readonly class="form-control" asp-for="CreationDate" />
       
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="HireDate"></label>
    <input readonly class="form-control" asp-for="HireDate" />
      
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
    <input readonly class="form-control" asp-for="Address" />
       
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Phone"></label>
    <input readonly class="form-control" asp-for="Phone" />
        
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
    <input readonly class="form-control" asp-for="Email" />
      
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="IsActive"></label>
    <input readonly class="form-check" asp-for="IsActive" />
      
    </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-danger"> Back to list</a>




