@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">

			<input class="text" asp-for="NewPassword" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />

			<input class="text" asp-for="ConfPassword" placeholder="Repeat New Password " required="">
			<span asp-validation-for="ConfPassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>

@section _ValidationScriptsPartial {
	<partial name="_ValidationScriptsPartial" />
}

